

#holder{
    overflow: hidden;
    width: 100%;
}
#spinner{
    margin: 0 auto;
    width: 894px;
    position: relative;
    top: -490px;
    left: 50%;
    margin-left: -447px;
}
#arrow{
    position: relative;
    top: -60px;
    left: 50%;
    margin-left: -50px;
}
#spinbutton {
    position: relative;
    top: -450px;

    margin-left: 0px;
    display:inline;
    color: #000;
    font-size: 2em;
    font-weight: bold;
    background-color:#ffffcc;
    padding:5px;
    margin-right:5px;

}

.player-level {
    position: relative;
    top: -550px;
    margin: 40px;
}

#player-info {
    position: relative;
    top: -50px;
    margin: 40px;
}

#user-name {
    position: relative;
    top: -550px;
    margin-left: 40px;
}

#task-viewer {
    position: relative;
    top: -500px;
    align-content: center;
    border: solid 1px white;
    margin: 25px;
}

#wheel-stats {
    position: relative;
    top: -450px;
    margin-left: 40px;
}

p {
    position: relative;
    top: -500px;
    margin-left: 25px;
}
